@page
@model StarWarsAPIExercise.Pages.AllProductsModel

@{
    ViewData["Title"] = "AllProducts";
}

<h1>AllProducts</h1>

<h4>Starship</h4>
<a class="btn btn-primary" asp-page="Create">Create New</a>
<hr />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Starship_class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Cost_in_credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Crew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Passengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Max_atmosphering_speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Hyperdrive_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].MGLT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Cargo_capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Consumables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starship[0].Edited)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Starship) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starship_class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost_in_credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_atmosphering_speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hyperdrive_rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MGLT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo_capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edited)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>